<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--<link rel="stylesheet" href="css/index.css"/>-->
		<title>BTC USD Converter</title>
		<link rel="stylesheet" href="css/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid">

			<div id="body" ng-app="btc_app" ng-init="stdbtc=1;stdusd=0;_btc=0.53;" ng-controller="price">
				<h1 class="display-1"><span style="color: gold;">BTC</span> to USD 🎃</h1>

				<!-- Coin Table -->
				<table class="table table-responsive">
					<thead>
						<tr>
							<th scope="col">Standard</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>BTC</td>
							<td>
								<input type="number" ng-model="stdbtc" />
							</td>
						</tr>
						<tr>
							<td>USD*</td >
							<td id="flash">
								<input id="flash_input" type="number" ng-model="btc"/>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Your Table-->
				<table class="table table-responsive">
					<thead>
						<tr>
							<th scope="col">You</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<td>BTC*</td>
							<td>
								<input id='focus' type="number" ng-model="_btc"/>
							</td>
						</tr>
						<tr>
							<td >USD</td>
							<td>
								${{(btc*_btc)/stdbtc}}
							</td>
						</tr>
					</tbody>
				</table>

				<br/>


				<!-- Buttons -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<!-- Update Button -->
					<button 
							id="update_button" 
							type="button" 
							class="btn btn-primary btn-lg"
							ng-click="update_price()">Update</button>

					<!-- Round Button -->
					<button 
							id="round_button" 
							type="button" 
							class="btn btn-primary btn-lg"
							ng-click="round_toggle()">Round</button>
				</div>

				<!-- About Card -->
				<div class="card px" style="width: 20rem;">
					<div class="card-body">
						<h4 class="card-title">Inputs 👻</h4>
						<p class="card-text">
							Real-Time Hourly BTC Average<br/>
							Your BTC value
							BTC API by <a href="//www.coindesk.com/api/"
										  target="_blank">coindesk</a>
						</p>
					</div>
				</div>




			</div>
		</div>
	</body>

	<!--Jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

	<script src="js/jquery-3.1.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script src="js/index.js"></script>
</html>
